@media (min-width:900px) {
    body {
        font-family: 'Roboto';
    }

    aside.one {
        width: 30%;
        height: 100%;
        position: absolute;
        background-color: black;
        float: left;
        display: inline-grid
    }
    div.four{
        margin-top:0px;
        margin-bottom:10px;
       
    }

    h1 {
        font-size: 25px;
       margin-top:40px;
        margin-left: 50px;
        color: white;
    }

    img.one {
        width: 100%;
        height: 350px;
        float: left;
        border-radius: 5px;
    }

    p.one {
        color: white;
        text-align: center;
     
    }

    i {
        font-size: 50px;
        padding: 5px;
        background-color: wheat;
        margin-left: 25px;
        border-radius: 5px;
    }

    a {
        color: black;
    }

    aside.tow {
        width: 70%;
        height: 100%;
        position: absolute;
        background-color: wheat;
        float: right;
        margin-left: 30%
    }

    h2 {
        text-align: center;
        background-color: black;
        color: white;
        max-width: 150px;
        height: 30px;
        margin-left: 40%;
        border-radius: 5px;
        box-shadow: 20px 20px 50px grey;
    }

    p {
        text-align: center;
        color: black
    }

    hr {
        width: 70%
    }

    img.tow {
        width: 80px;
        height: 80px;
        margin-left: 150px;
    }

    div.tow {
        height: 150px;
    }

    div.three {
        height: 200px;
    }

    img.three {
        width: 60px;
        height: 155px;
        margin-left: 380px;
        border-radius: 10px;
    }
}

    @media (max-width:600px) {
        body {
            font-family: 'Roboto';
        }

        aside.one {
            width: 100%;
            height: 30%;
            position: absolute;
        }

        div.four {
            background-color: black;
            top: 0;
            position: absolute;
            width: 100%;
        }

        h1 {
            font-size: 25px;
            color: white;
            background-color: black;
            text-align: center;
            width: 100%;
            background-size: 30px
        }

        div.one {
            margin-top: 1075px;
            background-color: black;
            position: absolute;
            width: 100%;
            height: 150px
        }

        img.one {
            width: 100%;
            height: 400px;
            border-radius: 5px;
            top: 0;
        }

        p.one {
            color: white;
            text-align: center;
            margin-top: 10px
        }

        i {
            font-size: 50px;
            padding: 5px;
            background-color: wheat;
            margin-left: 25px;
            border-radius: 5px;
            width: 15%;
        }

        a {
            color: black;
        }

        aside.tow {
            width: 100%;
            height: 600px;
            position: absolute;
            background-color: wheat;
            margin-top: 475px;
        }

        h2 {
            text-align: center;
            background-color: black;
            color: white;
            max-width: 150px;
            height: 30px;
            margin-left: 40%;
            border-radius: 5px;
            box-shadow: 20px 20px 50px grey;
        }

        p {
            text-align: center;
            color: black
        }

        hr {
            width: 80%
        }

        img.tow {
            width: 80px;
            height: 80px;
            margin-left: 13%;
        }

        div.tow {
            height: 150px;
        }

        div.three {
            height: 200px;
        }

        img.three {
            width: 60px;
            height: 155px;
            margin-left: 50%;
            border-radius: 10px;
        }
    }
@media(max-width: 900px) and (min-width: 600px) {
    body {
        font-family: 'Roboto';
    }

    aside.one {
        width: 100%;
        height: 64%;
        background-color: black;
    }


    h1 {
        font-size: 25px;
        color: white;
        text-align: center;
        width: 60%;
        height: 30px;
        float: right;
        background-color: black;
    }

    div.one {
        background-color: black;
        width: 50%;
        height: 250px;
        position: absolute;
        margin-left: 42%;
        top: 90px;
    }

    img.one {
        width: 40%;
        height: 350px;
        border-radius: 5px;
        top: 0;
    }

    p.one {
        color: white;
        text-align: center;
        background-color: black;
        width: 100%;
    }

    i {
        font-size: 50px;
        padding: 10px;
        background-color: wheat;
        margin-left: 25%;
        border-radius: 5px;
        width: 15%;
    }

    a {
        color: black;
    }

    aside.tow {
        width: 100%;
        height: 600px;
        position: absolute;
        background-color: wheat;
    }

    h2 {
        text-align: center;
        background-color: black;
        color: white;
        max-width: 150px;
        height: 30px;
        margin-left: 40%;
        border-radius: 5px;
        box-shadow: 20px 20px 50px grey;
    }

    p {
        text-align: center;
        color: black
    }

    hr {
        width: 80%
    }

    img.tow {
        width: 80px;
        height: 80px;
        margin-left: 17%;
    }

    div.tow {
        height: 150px;
    }

    div.three {
        height: 200px;
    }

    img.three {
        width: 60px;
        height: 155px;
        margin-left: 45%;
        border-radius: 10px;
    }

}

