body {
    font-family: 'Roboto';
    color: #505F98;
    width:100%;
    height: :100%;
}
aside.one {
    background-image: url('designer_1.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 50% ;
    background-position:right;
    width:100%;
   height:550px;
}
 .header {
    width: 100%;
    height: 10%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
}
div.one {
    width: 245px;
    height: 24px;
    display: inline;
    color: #505F98;
}
button.home {
    left: 12%;
    position: absolute;
    font-size: 14px;
    color: #505F98;
    line-height: 24px;
    top: 10px;
    border: none;
     background-color: white;
}
button.home:hover{
    text-decoration: underline
}
button.about {
    left: 19%;  
    background-color: white;
    color: #505F98;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    border: none;
    top: 10px;
}
    button.about:hover{
    text-decoration: underline
}
button.contact {
    left: 27%;
    background-color: white;
    color: #505F98;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    border: none;
    top: 10px;
}
button.contact:hover{
    text-decoration: underline
}
p.one {
    left: 50%;
    right: 50%;
    font-size: 20px;
    color: #091133;
  line-height: 0px;
    display: inline;
    position: absolute;
    top: 3px;
}
button.buy {
     width:150px;
    height: 25px;
    background-color: #091133;
    color: white;
    position: absolute;
    font-size: 14px;
    border: none;
    top: 10px;
    left: 80%;
    right: 20%;
    display: inline;
    border-radius: 5px;
}
p.two {
    font-size: 250%;
    color: #091133;
    margin-top: 10%;
    margin-left: 20%;
    width: 420px;
}
p.three {
    width: 40%;
    margin-left: 20%;
    font-size: 75%;
}
button.Kit {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;   
    font-size: 14px;
    border: none;
    top: 75%;
    margin-left: 30%;
    border-radius: 5px;
}
button.Learn {
    width: 150px;
    height: 25px;
    background-color: white;
    background: rgba(255, 255, 255, 0.1);
    color: #091133;
    font-size: 14px;
    top:  75%;
    border-radius: 5px;
}
aside.two {
    background-image: url('undraw_mobile_login_ikmv.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    width: 90%;
    height: 550px;
}
p.four {
    font-size: 40px;
    color: #091133; 
    width: 450px;
    margin-left: 10%;
    margin-top: 10px
}
p.five {
    width: 50%;
    margin-left: 10%;
    font-size: 15px;
      margin-top: 100px
}
div.two {
    margin-left: 10%;
    width: 230px;
    height: 50px;
    display: inline-block;
    margin-top: 30px
}
img.one{
    width:30px;
    height:30px;
}
p.six {
    font-size: 15px;
    color: #091133;
}
p.seven {
    width: 230px;
    font-size: 11px;
}
div.three {
    margin-left: 10%;
    width: 230px;
    height: 50px;
    display:inline-block;
}
aside.three {
    width: 100%;
    height: 500px;
    display: inline-block;
}
img.two {
    width: 40%;
    height: 70%;
    margin-left: 10%;
}
p.Light {
    font-size: 25px;
    color: #091133;
    float: right;
  margin-left:10%;
    display: inline-block;
    position:absolute;
     margin-top: 70px;
}
p.Lorem {
    width: 35%;
    font-size: 15px;
    float: right;
    margin-top: 130px;
    margin-left: 10%;
    display: inline-block;
    position: absolute;
}
aside.four {
    width: 100%;
    height: 500px;
    display: inline-block;
}
button.Purchase {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    position: absolute;
    font-size: 14px;
    border: none;
   margin-top: 280px;
    left: 60.7%;
    display: inline;
    border-radius: 5px;
}
aside.five {
    background-image: url(Rectangle.png);
    width: 100%;
    height: 600px;
    margin-top: 30px;
    display: inline-block;
    text-align: center;
}
p.a {
    font-size: 30px;
    color: #091133;
    margin-top: 170px;
}
p.ipsum {
    margin-top: 20px;
}
p.price {
    margin-top: 30px;
    font-size: 30px;
    color: #091133;
}
p.see {
    margin-top: 30px;
}
button.now {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
}
footer {
    background-color: #E7ECFF;
    height: 110px;
    width: 100%;
    position: absolute;
}
p.copy {
    display: inline-block;
    color: #939EA4;
    margin-left: 50px;
}
p.landing {
    display: inline-block;
 margin-left: 30%
}
button.last {
    display: inline-block;
    float: right;
    margin-right: 4% ;
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top:20px;
}
.hr{
    width:92%;
}
button.homee {
    left: 50px;
    width: 50px;
    background-color: white;
    position: absolute;
    font-size: 14px;
    color: #505F98;
    line-height: 24px;
    top: 80px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
}
button.homee:hover{
    text-decoration: underline
}
button.aboutt {
    left: 140px;
    width: 50px;
    background-color: white;
    color: #505F98;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    border: none;
    top: 80px;
    background: rgba(255, 255, 255, 0.1);
}
button.aboutt:hover{
    text-decoration: underline
}
button.contactt {
    left: 230px;
    width: 63px;
    background-color: white;
    color: #505F98;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    border: none;
    top: 80px;
    background: rgba(255, 255, 255, 0.1);
}
button.contactt:hover{
    text-decoration: underline
}
div.four{
    float:right;
    margin-right:30px;
}
i{
    margin-right:20px;
    font-size:20px
}
a{
      text-decoration: none;
     color: #505F98;
}
div.onee{
     width: 245px;
    height: 24px;
    display: inline;
    color: #505F98;
}
@media (max-width:600px) {
    aside.one {
    background-image: url('designer_1.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 95% ;
    background-position:right;
    width:100%;
   height:550px;
}
    .header {
    width: 100%;
    height: 10%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
}
button.home {
    left: 2%;
    font-size: 14px;
    color: #505F98;
    top: 10px;
    border: none;
     background-color: white;
}
button.about {
    left: 2%;
    color: #505F98;
    font-size: 14px;
    border: none;
    top: 35px;
     background-color: white;
}
button.contact {
    left: 2%;
    color: #505F98;
    font-size: 14px;
    border: none;
    top: 60px;
     background-color: white;
}
    p.one {
    left: 40%;
    font-size: 20px;
    color: #091133;
  line-height: 0px;
    display: inline;
    top: 3px;
}
button.buy {
     width:150px;
    height: 25px;
    background-color: #091133;
    color: white;
    position: absolute;
    font-size: 14px;
    border: none;
    top: 10px;
    left: 68%;
    right: 20%;
    display: inline;
    border-radius: 5px;
}
    p.two {
    font-size: 180%;
    color: #091133;
    margin-top: 10%;
    margin-left: 2%;
    width: 320px;
}
p.three {
    width: 40%;
    margin-left: 2%;
    font-size: 75%;
}
button.Kit {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;   
    font-size: 14px;
    border: none;
    top: 75%;
    margin-left: 4%;
    border-radius: 5px;
}
aside.two {
    background-image: url('undraw_mobile_login_ikmv.png');
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
    width: 100%;
    height: 550px;
}
p.five {
    width: 50%;
    margin-left: 10%;
    font-size: 15px;
    margin-top: 0
}
div.two {
    margin-left: 10%;
    width: 230px;
    height: 50px;
    display: inline-block;
    margin-top: 6px
}
    button.Purchase {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    position: absolute;
    font-size: 14px;
    border: none;
   margin-top: 450px;
    left: 60.7%;
    display: inline;
    border-radius: 5px;
}
   
p.copy {
    display: inline-block;
    color: #939EA4;
    margin-left: 0
}
p.landing {
    display: inline-block;
 margin-left: 13%
}
button.last {
    display: inline-block;
    float: right;
    margin-right: 2% ;
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top:20px;
}

button.homee {
    left: 5px;
    width: 50px;
    background-color: white;
    font-size: 14px;
    color: #505F98;
    top: 60px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
}
button.aboutt {
    left: 70px;
    width: 50px;
    background-color: white;
    color: #505F98;
    font-size: 14px;
    border: none;
    top: 60px;
    background: rgba(255, 255, 255, 0.1);
}
button.contactt {
    left: 130px;
    width: 63px;
    background-color: white;
    color: #505F98;
    font-size: 14px;
    border: none;
    top: 60px;
    background: rgba(255, 255, 255, 0.1);
}
div.four{
    float:right;
    margin-right:0px;
}
}
@media(max-width: 900px) and (min-width: 600px) {
     aside.one {
    background-image: url('designer_1.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 85% ;
    background-position:right;
    width:100%;
   height:550px;
}
    .header {
    width: 100%;
    height: 10%;
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
}
button.home {
    left: 2%;
    font-size: 14px;
    color: #505F98;
    top: 10px;
    border: none;
     background-color: white;
}
button.about {
    left: 11%;
    color: #505F98;
    font-size: 14px;
    border: none;
     background-color: white;
}
button.contact {
    left: 20%;
    color: #505F98;
    font-size: 14px;
    border: none;
     background-color: white;
}
    p.one {
    left: 40%;
    font-size: 20px;
    color: #091133;
  line-height: 0px;
    display: inline;
}
button.buy {
     width:150px;
    height: 25px;
    background-color: #091133;
    color: white;
    position: absolute;
    font-size: 14px;
    border: none;
    left: 75%;
    display: inline;
    border-radius: 5px;
}
    p.two {
    font-size: 180%;
    color: #091133;
    margin-top: 10%;
    margin-left: 6%;
    width: 320px;
}
p.three {
    width: 40%;
    margin-left: 6%;
    font-size: 75%;
}
button.Kit {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;   
    font-size: 14px;
    border: none;
    top: 75%;
    margin-left: 8%;
    border-radius: 5px;
}
aside.two {
    background-image: url('undraw_mobile_login_ikmv.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: right;
    width: 100%;
    height: 550px;
}
p.five {
    width: 50%;
    margin-left: 10%;
    font-size: 15px;
    margin-top: 0
}
div.two {
    margin-left: 10%;
    width: 230px;
    height: 50px;
    display: inline-block;
    margin-top: 6px
}
    div.three {
    width: 230px;
    height: 50px;
    display: block
}
    button.Purchase {
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    position: absolute;
    font-size: 14px;
    border: none;
   margin-top: 370px;
    left: 60.7%;
    display: inline;
    border-radius: 5px;
}
p.copy {
    display: inline-block;
    color: #939EA4;
    margin-left: 0
}
p.landing {
    display: inline-block;
 margin-left: 19%
}
button.last {
    display: inline-block;
    float: right;
    margin-right: 2% ;
    width: 150px;
    height: 25px;
    background-color: #091133;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-top:20px;
}

button.homee {
    left: 5px;
    width: 50px;
    background-color: white;
    font-size: 14px;
    color: #505F98;
    top: 60px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
}
button.aboutt {
    left: 70px;
    width: 50px;
    background-color: white;
    color: #505F98;
    font-size: 14px;
    border: none;
    top: 60px;
    background: rgba(255, 255, 255, 0.1);
}
button.contactt {
    left: 130px;
    width: 63px;
    background-color: white;
    color: #505F98;
    font-size: 14px;
    border: none;
    top: 60px;
    background: rgba(255, 255, 255, 0.1);
}
div.four{
    float:right;
    margin-right:0px;
}
}
